<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<script src="https://d3js.org/d3.v5.min.js"></script>
<div class="flex-container sansfront" id="app">
    <div id="schemaView" class="schemaView" ></div>
    <div class="vertical-blocks">
        <div id="graphView" class="graphView"></div>
        <div id="visView"></div>
      </div>
      <!-- Tooltip container -->
  <div class="tooltip sansfront"></div>
   
</div>
<script type="module" src="{{url_for('static', filename='main.js')}}"></script>
