.flex-container {
    display: flex;
}

.sansfront {
    font-family: sans-serif;
    font-size: 12px;
}

.schemaView {
    background-color: #38425D;
    width: 220px;
    height: 100vh;
    overflow-y: scroll;
}

.links line {
    stroke: #aaa;
    stroke-width: 2px;
}

.links line.highlight {
    stroke: black;
    stroke-width: 4px;
}

.links line.clickable_edge {
    opacity: 0;
    stroke-width: 20px;
}

.links line.clickable_edge.highlight {
    opacity: 0;
    stroke-width: 22px;
}

.markers polyline {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

.markers polyline.highlight {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}

.nodes circle {
    fill: #bbb;
}

.nodes circle.highlight {
    fill: black;
}

.relation {
    background-color: #a7b7e3;
    margin: 6px 6px;
    padding: 3px 3px;
    border-radius: 3px;
}

.relation:hover {
    background-color: #96a4c9;
}

.relationName {
    display: flex;
    margin: 5px 5px;
    font-weight: bold;
}

.attribute {
    display: flex;
    background-color: white;
    border-radius: 3px;
    margin: 6px 8px;
    padding: 3px 10px;
    display: none;
}

.attribute.expanded {
    display: block;
}

.attribute:hover {
    background-color: #dfdfdf;
}


.attribute.join_keys {
    background-color: #d9f7da;
}

.attribute.join_keys:hover {
    background-color: #b6ddb8;
}

.attribute.join_keys.highlight {
    outline: 3px solid #499568;
}

.attribute.measurements {
    background-color: #ffd9ea;
}

.attribute.measurements.highlight {
    outline: 3px solid #a16e76;
}

.attribute.measurements:hover {
    background-color: #cd97af;
}

div.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.vertical-blocks {
    flex: 1;
    /* Take up remaining space in the flex container */
}

.visualization {
    margin: 6px 6px;
    padding: 3px 3px;
    border-radius: 3px;
    overflow: scroll;
    border: 1px solid gray;
    display: flex;
}

table {
    border-collapse: collapse;
    /* Remove the space between cells */
}

th,
td {
    border: 1px solid #ddd;
    /* Add a border to the cells */
    /* padding: 8px; */
    /* Add padding to the cells */
    
    text-align: center; 
    vertical-align: middle;
}

th,
td.single {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

th {
    background-color: #ddd;
    /* Add a background color to the header cells */
    font-weight: bold;
    /* Make the header text bold */
}

th.tablename {
    border: 1px solid #606060;
    background-color: #000000;
    color:#ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Add a background color to every other row */
}

.graphView {
    padding-left: 30px;
    display: inline-block;
}

.histView {
    padding-left: 30px;
    display: inline-block;
}

.visualization {
    padding: 10px;
}

/* Style the tooltip */
.tooltip {
    position: absolute;
    z-index: 10;
    display: none;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    font-size: 14px;
  }